@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'marguerite';
	src: url('./Blacksword.otf');
}

body,
html,
#root {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background: rgba(242, 242, 242, 1);
	color: rgba(26, 30, 32, 1);
}
